# PortSentinel Agent Environment Variables
# The URL of your PortSentinel web platform backend API
PORT_SENTINEL_URL=http://localhost:5000

# Your unique User API Key (generated/copied from Profile -> Developer API Key settings)
PORT_SENTINEL_API_KEY=
